<table width="575" cellspacing="0" style="page-break-before: always">
    <col width="108">
    <col width="367">
    <col width="76">
    <tbody>
        <tr valign="top">
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: none; border-right: none">
                <p align="left">Datum per</p>
            </td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: none; border-right: none">
                <p align="left">Text</p>
            </td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: none; border-right: none">
                <p align="right">Betrag</p>
            </td>
        </tr>